.time-range {
  position: relative;

  .chart {
    position: absolute;
    top: 0;
    width: 100%;
    height: 38px;
  }
}

.content {
  position: relative;
  border: 1px solid #DCDEE2;
  height: 42px;

  .selected {
    position: absolute;
    height: 115%;
    bottom: 0;
    z-index: 90;
    border: 1px solid #959595;
    border-top: none;
    cursor: move;
  }

  .others {
    position: absolute;
    height: 100%;
    z-index: 90;
    background: rgba(0, 0, 0, .05);
  }

  .btn {
    position: absolute;
    top: 3px;
    height: 20px;
    width: 8px;
    z-index: 100;
    cursor: col-resize;
    background: url("./btn-bg.svg") no-repeat center center;
  }
}

.agg-info {
  margin-top: 10px;
}
