ckman
test/*
vendor/*
*.rpm
*.deb
*.tar.gz
.DS_Store
.idea/
.vscode/
coverage.out
coverage-all.out
cscope.*
ckmanpasswd
migrate
znodefix
znode_count
cmd/ckmanctl/ckmanctl
pkged.go
static/dist/
coverage.xml
coverage.txt
