ckman
test/*
vendor/*
*.rpm
*.deb
*.tar.gz
.DS_Store
.idea/
.vscode/
coverage.out
coverage-all.out
cscope.*
ckmanpasswd
exporter
purger
rebalancer
schemer
migrate
pkged.go
static/dist/
resources/eoi_public_key.pub
