[Unit]
Description=ClickHouse monitor and manage tool
Requires=network-online.target
After=network-online.target

[Service]
Environment="HOME=%h"
Type=forking
User=ckman
Restart=always
RestartSec=30
RuntimeDirectory=ckman
ExecStart=/usr/local/bin/ckman -c=/etc/ckman/conf/ckman.hjson -p=/run/ckman/ckman.pid -l=/var/log/ckman/ckman.log -d
LimitCORE=infinity
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
