@import '~@/app/variables';

/* 改变主题色变量 */
$--color-primary: $primary-color;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.primary-color {
  color: $--color-primary;
}

.el-button--default:not(.default) {
  border-color: $--color-primary;
  color: $--color-primary;
}

.el-button--primary:not(.default) {
  color: white;
}

.el-row {
  margin-bottom: 20px;
}

.el-notification__content > p {
  width: 230px;
  word-break: break-word;
  color: rgb(0, 0, 0);
}

.el-table {
  border: 1px solid #E8EAEC;
  border-bottom: none;

  th {
    background: #F8F8F9;
    padding: 3px 0 2px;
    color: #4E4E4E;
    font-size: 12px;
  }
}

.el-checkbox-button {
  &:first-child .el-checkbox-button__inner {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child .el-checkbox-button__inner {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.el-input-number .el-input__inner {
  text-align: left;
}

.el-autocomplete-suggestion {
  width: auto !important;
  min-width: 50px;
  max-width: 600px;
}

.el-tooltip__popper {
  max-width: 200px;
}

.top-notify {
  .el-alert__content {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .el-alert__closebtn {
    color: #606266 !important;
  }
}

button * {
  pointer-events: none;
}

// 解决指定宽度内容超出el-select框，及windows抖动问题
.el-select {
  .el-select__tags {
    padding-bottom: 1px;

    > span {
      display: inline-flex;
      flex-wrap: wrap;

      &, span {
        max-width: 100%;
      }

      &:focus-within, span:focus-within {
        border: none;
        outline: none;
      }
    }

    .el-tag--info {
      height: auto;
    }

    .el-select__tags-text {
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    .el-select__input {
      vertical-align: baseline;
    }
  }

  .el-input {
    padding-bottom: 1px;
  }
}

.el-link {
  font-size: inherit;

  &.is-disabled {
    &.fc-blue, &.fc-red, &.fc-white {
      opacity: 0.5;
    }
  }

  &.el-link--native {
    color: #4A90E2;
  }
}

.el-dialog__header {
  display: flex;
  border-bottom: 1px solid #E8EAEC;
  padding: 16px 17px;

  .el-dialog__title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 500;
  }

  .el-dialog__headerbtn {
    position: static;
    align-self: start;
    margin-left: 15px;
  }
}

.el-drawer__header {
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #E2E2E2;
  color: #4E4E4E;
}

.el-dropdown-menu__item.active {
  background-color: #fef6e9;
  color: #f7b84f;
}

.el-dropdown-menu {
  min-width: 100px;
}

.el-popconfirm__action {
  margin-top: 15px;
}
